/* 
html5doctor.com Reset Stylesheet v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com 
*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0; 
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

body {
  line-height: 1; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

nav ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none; }

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold; }

del {
  text-decoration: line-through; }

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0; }

input, select {
  vertical-align: middle; }

.slicknav_menu {
  display: none; }

#menu {
  display: none; }

.smallline,
.line {
  width: 65%;
  height: 1px;
  background-color: #ccc;
  margin: 0 auto;
  margin-top: 35px;
  margin-bottom: 35px; }

.smallline {
  width: 10%; }

h1 {
  color: #fff;
  font: 300 46px/150% "Lato",sans-serif;
  padding-top: 10px;
  padding-left: 20px; }

h2 {
  font: 400 40px/150% "Lato", "Open Sans", sans-serif;
  text-align: center;
  padding-bottom: 20px; }

p {
  font: 300 22px/150% "Lato", "Open Sans", sans-serif; }

.hero img {
  margin: 0 auto; }

.mainheader {
  width: 100%;
  background-color: #bb161c;
  background-image: -webkit-linear-gradient(#bb161c, #d61921);
  background-image: linear-gradient(#bb161c, #d61921); }

.mainnav {
  clear: both;
  box-shadow: 0 8px 6px -7px #000;
  padding: 5px 5px;
  text-align: center; }
  .mainnav ul {
    padding: 10px;
    text-transform: uppercase; }

.mainnav ul li {
  text-align: right;
  display: inline-block; }
  .mainnav ul li a {
    color: #fff;
    font: 300 21px/150% "Lato", sans-serif;
    padding: 12px;
    padding-right: 40px;
    padding-left: 40px;
    text-decoration: none; }
    .mainnav ul li a:hover {
      border-bottom: 1px solid #fff; }

.titlebanner h1 {
  float: left; }

.titlebanner h1 span {
  font-size: 22px; }

.titlebanner h3 a {
  float: right;
  font: 400 20px/150% "Lato", sans-serif;
  color: #CB181E;
  padding: 9px;
  margin-top: 20px;
  margin-right: 25px;
  background-color: #fff;
  border: 1px solid #fff;
  border-radius: 5px;
  text-decoration: none;
  -webkit-transition: all 0.5s ease;
          transition: all 0.5s ease; }
  .titlebanner h3 a:hover {
    background-color: #cb181e;
    color: #fff;
    -webkit-transition: all 0.5s ease;
            transition: all 0.5s ease; }

.white {
  background-color: #fff;
  width: 90%;
  margin-top: 10px;
  margin-bottom: 0;
  clear: both; }

.meetimage .img-responsive {
  margin: 0 auto; }

.testimonials {
  background-image: url("images/testpic.jpg");
  background-size: cover;
  background-position: 15% 15%;
  width: 100%;
  height: 350px;
  max-width: 100%;
  vertical-align: middle; }

.testoverlay {
  max-width: 100%;
  width: 100%;
  height: 350px;
  background-color: rgba(255, 255, 255, 0.85); }
  .testoverlay h2 {
    padding-top: 35px; }

.textslider {
  width: 80%;
  margin: 0 auto;
  padding-bottom: 45px;
  margin-top: 45px; }
  .textslider p {
    width: 75%;
    margin: 0 auto;
    text-align: center;
    font: 300 22px/150% "Lato", Open-Sans, sans-serif; }

.riding .hero img {
  padding-bottom: 20px;
  width: 550px; }

.indent p {
  padding-left: 50px;
  font-size: 18px; }

.riding p.listdata {
  font-weight: 400; }

.ridinginfo {
  padding-left: 40px; }

.boundaries p.listdata {
  font-weight: 300; }

.boundaries p.listdata span {
  font-weight: 400; }

ul.south li {
  list-style: none;
  padding-left: 40px; }

.issues .listtext p:first-child {
  padding-bottom: 20px; }

.issues .listtext p {
  padding-bottom: 20px; }

.issues .listtext p:last-child {
  padding-bottom: 0; }

.contact p,
.donatemail p {
  text-align: center; }

.listitem {
  padding-top: 20px;
  padding-bottom: 15px;
  font-weight: 400;
  font-size: 26px; }

p.listdata,
.listdata {
  padding-left: 20px; }

.learnlist .listtext p:last-child {
  padding-top: 20px; }

.donatepage .listdata p {
  padding-top: 20px; }

.donatepage .listdata p:first-child {
  padding-top: 0; }

#signup {
  color: #fff;
  padding: 9px;
  margin-top: 20px;
  margin-right: 25px;
  background-color: #cb181e;
  border-radius: 5px;
  box-shadow: 2px 2px 2px #262626;
  text-decoration: none;
  -webkit-transition: all 0.5s ease;
          transition: all 0.5s ease;
  text-align: center; }
  #signup:hover {
    background-color: #fff;
    cursor: pointer;
    color: #CB181E;
    -webkit-transition: all 0.5s ease;
            transition: all 0.5s ease; }

#signup p {
  font-weight: 400; }

footer {
  width: 100%;
  background-color: #bb161c;
  margin-top: 20px; }
  footer p {
    font: 300 14px/150% "Lato", Open-Sans, sans-serif;
    color: #f7f7f7;
    text-align: center;
    padding: 3px; }
  footer a {
    color: #fff; }
    footer a:hover {
      color: #fff;
      text-decoration: underline; }

.vertical {
  border-right: 1px solid #ccc;
  margin-right: 20px;
  padding-left: 20px; }

.mobilenav p {
  display: none; }

@media (max-width: 1200px) {
  .meetimage img {
    padding-top: 20px; } }
@media (max-width: 820px) {
  body {
    padding-top: 68px; }

  .mainheader {
    display: none; }

  .slicknav_menu {
    display: block; }

  .mobilenav p {
    font: 300 31px "Lato", Open-Sans, sans-serif;
    color: #fff;
    position: fixed;
    display: block;
    top: 0;
    left: 0;
    z-index: 999;
    padding-left: 15px;
    padding-top: 14px; }

  body > div.slicknav_menu > ul > li:nth-child(1) > a {
    background: #fff;
    color: #BB161C;
    font-weight: 400;
    padding: 12px;
    margin-top: 10px;
    border-radius: 5px;
    box-shadow: 2px 2px 2px #262626; }
    body > div.slicknav_menu > ul > li:nth-child(1) > a:hover {
      text-decoration: underline; } }
.success-message {
  display: none; }
